:root {
  --blue: #59adff;
  --darkblue: #022e69;
  --white: #ffffff;
  --black: #000000;
  --yellow: #fbfc39;
  --red: #f34607;
  --green: #3bf516;
  --lightgray: #f0f0f0;
  --gray: #808080;
  --slightgray: #d3d3d3;
}

input.inputText {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

input.inputBtn {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--darkblue);
  color: var(--white);
  border-width: 0px;
  font-weight: bold;
}

input.inputBtn:hover {
  background-color: var(--blue);
  transition: 0.7s;
  cursor: pointer;
}

.clickable:hover {
  transition: 0.7s;
  cursor: pointer;
}

textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--darkblue);
  color: var(--white);
  border-width: 0px;
  font-weight: bold;  
}

button:hover {
  background-color: var(--blue);
  transition: 0.7s;
  cursor: pointer;
}

.web-app {
  background-color: var(--lightgray);
  align-items: flex-start;
}

.header {
  background-color: var(--blue);
  display: flex;
  height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  padding: 5px;
}

div.body {
  background-color: var(--lightgray);
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  display: flex;
  min-height: 100vh;
}

.logoText {
  font-size: calc(10px + 4vmin);
  color: var(--white);
  flex: 12;
  align-items: center;
  align-content: center;
  margin: 20px;
}

.logoTextRA {
  font-size: calc(10px + 4vmin);
  color: var(--white);
  flex: 12;
  align-items: center;
  align-content: center;
  margin: -22px;
  margin-left: 10px;
}

.avatar {
  flex: 1;
}

.avatarImg {
  font-size: 50px;
}

.logoutImg {
  font-size: 30px;
}

p.welcomeText {
  flex: 3;
  font-size: calc(10px + 2vmin);
}

/* header.MuiPaper-root button[aria-label="Refresh"] {
  display: none;
} */

.loginBox {
  background-color: var(--white);
  align-self: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loginBox h1 {
  color: var(--darkblue);
}

.loginBox form.loginForm {
  padding: 10px;
}

.loginBox svg {
  font-size: 50px;
  padding-top: 40px;
}

.registerBox {
  background-color: var(--white);
  align-self: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.registerBox h1 {
  color: var(--darkblue);
}

.registerBox form.loginForm {
  padding: 10px;
}

div.profile {
  flex-direction: row;
  justify-items: stretch;
  display: flex;
  align-self: stretch;
  flex: 1;
}

div.profile div.avatarNameCard {
  margin: 5px;
  background-color: var(--white);
  flex: 1;
  text-align: center;
  padding: 10px;
  align-self: stretch;
  border-radius: 5px;
}

div.profile div.avatarNameCard svg {
  font-size: 200px;
  padding-top: 50px;
  padding-bottom: 10px;
}

div.profile div.avatarNameCard p {
  font-size: 30px;
}

div.profile div.profileCard {
  margin: 5px;
  background-color: var(--white);
  flex: 2;
  padding: 50px;
  align-self: stretch;
  border-radius: 5px;
}

div.profile div.profileCard div.profileInfo {
  flex-direction: row;
  display: flex;
  justify-items: flex-start;
  padding: 10px;
}

div.profile div.profileCard div.profileInfo div.profileLabel {
  flex: 1;
  font-weight: bold;
}

div.profile div.profileCard div.profileInfo div.profileData {
  flex: 2;
}

img.newAvatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

img.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

img.cheatingImg {
  height: 160px;
  width: 160px;
}

div.examStatus {
  flex-direction: row;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

div.examData {
  flex-direction: column;
  display: flex;
  background-color: var(--white);
  align-self: stretch;
  flex: 1;
  padding: 10px;
}

div.examData button {
  margin: 1px !important;
  border-radius: 5px !important;
  background-color: var(--lightgray) !important;
  color: var(--black) !important;
  /* border-width: 1px !important; */
  text-align: left;
  padding: 20px;
  font-size: large;
}

div.examData button:hover {
  background-color: var(--gray) !important;
  transition: 0.7s;
  cursor: pointer;
}

div.examData div {
  flex-direction: row;
  display: flex;
  background-color: var(--slightgray);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  align-self: stretch;
  margin-top: 1px;
  margin-bottom: 1px;
}

div.examData div p {
  padding-top: -10px;
  padding-left: 20px;
  padding-right: 20px;
}

div.examData div.footer {
  border-color: var(--black);
}

div.examData div.footer div svg {
  align-self: center;
  font-size: 20px;
}

div.examData div.footer div p {
  margin: 10px;
  align-self: center;
}

div.checkboxDiv {
  flex-direction: row; 
  display: flex; 
  padding: 10px; 
  align-items: center !important;
}

.modal {
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.7);
}
.nonTranslucentModal {
  font-size: medium;
  background-color: white !important;
}
.modal > .header {
  /* width: 100%; */
  border-bottom: 1px solid gray;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  display: none !important;
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: var(--blue);
}

div.cheatingList div {
  flex-direction: row;
  display: flex;
  align-items: center;
}

div.cheatingList div p {
  flex: 18;
  background-color: var(--slightgray);
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

div.cheatingList div > span {
  flex: 1;
  margin-left: 20px;
}

div.cheatingList div > svg {
  flex: 1;
  margin-left: 10px;
  margin-right: 15px;
}

div.susImage > div.content {
  padding: 50px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

img.image-gallery-image {
  width: 320px !important;
  height: 320px !important;
}

svg.leftBtn {
  margin-left: 10px;
  margin-right: 10px;
  /* font-size: 30px; */
}

svg.rightBtn {
  margin-left: 10px;
  margin-right: 10px;
  /* font-size: 30px;   */
}

button.image-gallery-left-nav {
  display: none;
}

button.image-gallery-right-nav {
  display: none;
}

img.smallAvatar {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin: 5px
}